:root {
  --black: #000000;
  --white: #ffffff;
  --general-black: #15343a;
  --general-white: #fefdff;
  --backdrop: rgb(0 0 0 / 30%);

  --neural-900: #0f172a;
  --neural-800: #1e293b;
  --neural-700: #334155;
  --neural-600: #475569;
  --neural-500: #64748b;
  --neural-400: #94a3b8;
  --neural-300: #cbd5e1;
  --neural-200: #e2e8f0;
  --neural-100: #f1f5f9;
  --neural-50: #f8fafc;

  --brand-purpe-900: #0f172a;
  --brand-purpe-800: #1b096c;
  --brand-purpe-700: #29138e;
  --brand-purpe-600: #3a20b0;
  --brand-purpe-500: #4e30d2;
  --brand-purpe-400: #6444f4;
  --brand-purpe-300: #8a70ff;
  --brand-purpe-200: #ac9aff;
  --brand-purpe-100: #cec3ff;
  --brand-purpe-50: #f0ecff;
  --brand-purple-20: #f5f4fe;
  --brand-purpe-10: #faf9ff;

  --gradient-violet: linear-gradient(90deg, #4452f4 62.04%, #775cf1 102.04%);
}
